@charset "utf-8";

/* 申し訳ございませんが、
レスポンシブの導入が出来ませんでした。 */

/* =========================================================
共通設定
============================================================*/
html {
  font-size: 100%;
}


body {
  background-image: url(../img/back-img.jpg);
  background-repeat: repeat;
  background-size: auto;
  font-family: 'Noto Serif JP', serif;
  font-size: calc(24vw/1920*100);
  line-height: 2;
  color:#fff
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1920px;
  margin:0 auto;
  padding: 0 110px
}

a {
  text-decoration: none;
  color:#fff;
  transition: opacity .3s;
}

a:hover {
  opacity: 0.6;
}

ul {
  list-style-type: none;
}

/* =========================================================
ヘッダー
============================================================*/
header {
  background-image: url(../img/header-back.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  position: fixed;
  top:0;
  left:0;
  z-index: 9999;
  width: 100%;  
}

/* .topMenu {
  position: fixed;
  top:0;
  left:0;
} */

.title {
  line-height: 1;
  padding: 5px 0 ;
}

.logoBox {
  margin: 0 auto;
  width:30%;

}

/* =========================================================
グローバルナビゲーション
============================================================*/
.gnav {
  background-image: url(../img/back-img.jpg);
  background-repeat: repeat-x;
  width: 100%;
}

.gnav__list {
  display: flex;
  justify-content: space-between;
  font-size: calc(30vw/1920*100);
}

/* =========================================================
ヒーローイメージ
============================================================*/
.hero {
  padding-top: 12%;
}
/* =========================================================
新着情報
============================================================*/
#news {
  font-size: calc(24vw/1920*100);
  color: #000;
  padding-top: 12%;
}

.news__title {
  margin: 5% 0 2% 0;
  width: 50%;
}

.news__contents {
  position: relative;
}

.news__back {
  display: block;
  max-width:95vw;
  width:100vw;
  width:100vw; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.news__flex {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 7%;
  left: 0%;
  padding: 5% 0 5% 8%;
}

.news__list {
  max-width: 90%
}

.news__item {
  display: flex;
}

.news__dt {
  max-width: 30%;
}

.news__dd {
  max-width: 60%;
  margin-left: 5%;
}

.news__item:not(:nth-child(1)) {
  margin-top: 5%;
}

.news__img {
  margin-left: -5%;
}
/* =========================================================
我ら廣島健康堂
============================================================*/
#about {
  padding-top: 12%;
}

.about__title {
  margin: 5% 0 2% 0;
  width: 50%;
}

.about__article {
  position: relative;
}

.about__img {
  display: block;
  max-width:100vw;
  width:100vw;
  width:100vw; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.about__textbox {
  max-width: 40%;
  position: absolute;
  top: 10%;
  left: 60%;
}

.about__sum {
  font-size: calc(36vw/1920*100);
  line-height: 1.5;
  margin-bottom: 5%;
}

.about__text {
  font-size: calc(20vw/1920*100);
  line-height: 2.4;
  margin-top: 2%;
}
/* =========================================================
理念～３つの「けんこう」
============================================================*/
#concept {
  padding-top: 12%;
}

.concept__title {
  margin: 5% 0 3% 0;
  width: 50%;
}

.concept__article {
  display: flex;
}

.concept__textBox {
  max-width: 55%;
  margin-left: 3%;
}

.concept__sum {
  font-size: calc(36vw/1920*100);
  line-height: 1.5;
  margin-bottom: 5%;
}

.concept__text {
  font-size: calc(20vw/1920*100);
  line-height: 2.4;
  margin-top: 2%;
}

.concept__img {
  margin-left: 5%;
  margin-top: -5%;
}


/* =========================================================
施設紹介
============================================================*/
#inst {
  padding-top: 12%;
}

.inst__title {
  margin: 5% 0 2% 0;
  width: 50%;
}

.dojo,
.kodo {
  margin-bottom: 3%;
}


.inst__contents {
  display: flex;
  justify-content: center;
}

.inst__sec{
  max-width: 45%;
  margin-left: 5%;
  background-image: url(../img/inst-back.png);
  background-size: 50%;
  background-position: center;
}

.inst__subTitle {
  margin: 2% 0;
  width: 50%;
}

.inst__text {
  margin-top: 20px;
  line-height: 2.4;
}



/* =========================================================
所在地/御問合せ
============================================================*/
#address {
  padding-top: 15%;
}

.address__title {
  margin-bottom: 2%;
  width: 50%;
}

.address__contents {
  position: relative;
  margin-bottom: 5%;
}

.address__img {
    display: block;
    max-width:100vw;
    width:100vw;
    width:100vw; 
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .address__textBox {
    max-width: 40%;
    position: absolute;
    top: 5%;
    left:5%;
}
.address__list {
  font-style: normal;
}
/* =========================================================
フッター
============================================================*/
footer {
  background-image: url(../img/footer-back.jpg);
  text-align: center;
  font-size: calc(16vw/1920*100);
}

.footer__logo {
  margin: 0 auto;
  width:20%;
}